<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>zh_CN</string>
		<string>en</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>gorkX 需要使用麦克风，以便将语音转为文字输入到对话中。</string>
</dict>
</plist>
